<script type="text/javascript">
  function showHide(id) {
    var panel = document.getElementById(id);
    if (panel.style.visibility == 'hidden') {
      panel.style.visibility = 'visible';
    } else if (panel.style.visibility == 'visible') {
      panel.style.visibility = 'hidden';
    }
  }

  function updatePrice() {
    var numberOfTickets = document.getElementById('number_of_tickets').value;
    var amountPaid = document.getElementById('ticket_amount_paid');
    var customerTickets = document.getElementById('customer_tickets');
    var customerPrice = document.getElementById('customer_price');
    amountPaid.value = numberOfTickets * 10 - Math.floor(numberOfTickets / 12) * 20;
    customerTickets.textContent = String(numberOfTickets) + ' Tickets';
    customerPrice.textContent = '$' + String(amountPaid.value);
  }

  function buy(num) {
    var numTickets = document.getElementById('number_of_tickets');
    numTickets.value = num;
    updatePrice();
  }



</script>

<div class="page-header">
  <h1 align="center">Buy a Raffle Ticket</h1>
  <h5 align="center">$10 each</h5>
  <h5 align="center">12 for $100</h5>
</div>
<p>* required</p>


<%= form_for(@ticket, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @ticket.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h4>

      <ul>
        <% @ticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="bs-callout bs-callout-info">
    <div class="form-group">

      <%= f.label :first_name, 'Name: First*', :class => "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.text_field :first_name, :class => "form-control" %>
      </div>
      <%= f.label :middle_initial, 'M.I.', class: 'col-sm-1 control-label' %>
      <div class="col-sm-1">
        <%= f.text_field :middle_initial, class: 'form-control' %>
      </div>
      <%= f.label :last_name, 'Last*', :class => "col-sm-1 control-label" %>
      <div class="col-sm-3">
        <%= f.text_field :last_name, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, :class => "col-sm-2 control-label" do %>Email**<% end %>
      <div class="col-sm-3">
        <%= f.text_field :email, :class => "form-control" %>
      </div>
      <%= f.label :subscribe, 'Receive BH Emails', :class => "col-sm-2 col-sm-offset-1 control-label" %>
      <div class="col-sm-4">
        <%= f.check_box :subscribe, :class => "form-control" %>
        <p id="subscribe-info">Uncheck to opt out of Bridgehouse emails</p>
      </div>
    </div>
  </div>

  <div class="bs-callout bs-callout-info">
    <div class="form-group">
      <%= f.label :address_line_one, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :address_line_one, :class => "form-control" %>
      </div>
      <%= f.label :city, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :city, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address_line_two, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :address_line_two, :class => "form-control" %>
      </div>
      <%= f.label :state, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :state, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, :class => "col-sm-2 control-label" do %>Phone Number**<% end %>
      <div class="col-sm-4">
        <%= f.text_field :phone_number, :class => "form-control" %>
      </div>
      <%= f.label :zip_code, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :zip_code, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="bs-callout bs-callout-info">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <%= f.submit 'Buy Tickets', :class => "btn btn-primary" %>
      </div>
      <div class="col-sm-2 btn btn-default">
        <p id="customer_tickets">1 Ticket</p>
        <p id="customer_price">$10</p>
      </div>
    </div>
  </div>

  <div class="bs-callout bs-callout-danger" id="hide_panel" style="visibility: visible">
    <input type=button style="float: right" class='btn btn-warning btn-sm' value="Hide" onclick="showHide('hide_panel'); showHide('dashboard');">

    <div class="form-group row">
      <%= f.label :payment_type, class: 'control-label col-sm-2' %>
      <div class="col-sm-2">
        <%= select_tag :payment_type, options_for_select(%w(Square Cash Check Other)), class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :number_of_tickets, class: 'control-label col-sm-2' do %>
        Number of Tickets
      <% end %>
      <div class="col-sm-2">
        <%= select_tag :number_of_tickets, options_for_select((1..100).to_a), onchange: 'updatePrice();', class: 'form-control' %>
      </div>
      <div onclick="buy(5)" class="btn btn-info">Buy 5</div>
      <div onclick="buy(12)" class="btn btn-info">Buy 12</div>
    </div>

    <div class="row">
      <%= f.label :amount_paid, class: 'control-label col-sm-2' do %>
        Amount Paid
      <% end %>
      <div class="col-sm-2">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :amount_paid, class: 'form-control', value: 10 %>
        </div><!-- /input-group -->
      </div><!-- /.col-sm-4 -->
    </div>
  </div>

<% end %>
