<script type="text/javascript">
  var price = document.getElementById('price');
  var numberOfTickets = document.getElementById('number_of_tickets');

  function updatPriceLabel(){
    price.value = numberOfTickets.value * 10
  }


  function showHide() {
    var panel = document.getElementById('hide_panel');
    if (panel.style.visibility == 'hidden') {
      panel.style.visibility = 'visible';
    } else if (panel.style.visibility == 'visible') {
      panel.style.visibility = 'hidden';
    }
  }

</script>

<%= form_for(@ticket, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @ticket.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h4>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:set_payment] %>
    <div class="bs-callout bs-callout-danger" id="hide_panel" style="visibility: visible">
      <input type=button style="float: right" class='btn btn-default btn-sm' value="^" onclick="showHide();">

      <div class="form-group row">
        <%= f.label :payment_type, class: 'control-label col-sm-2' %>
        <div class="col-sm-4">
          <%= f.select :payment_type, options_for_select(%w(WePay Square Cash Check Other)), class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :number_of_tickets, class: 'control-label col-sm-2' do %>
          Number of Tickets <br/><span style="color: #aaa">(if applicable)</span>
        <% end %>
        <div class="col-sm-4">
          <%= f.select :number_of_tickets, options_for_select((1..100).to_a),  include_blank: true, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <%= f.label :amount_paid, class: 'control-label col-sm-2' do %>
          Amount Paid <br/> <span style="color: #aaa">(if applicable)</span>
        <% end %>
        <div class="col-sm-2">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :amount_paid, class: 'form-control' %>
          </div><!-- /input-group -->
        </div><!-- /.col-sm-4 -->
      </div>
    </div>
  <% end %>

  <div class="bs-callout bs-callout-info">
    <div class="form-group">

      <%= f.label :first_name, 'Name: First', :class => "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.text_field :first_name, :class => "form-control" %>
      </div>
      <%= f.label :middle_initial, 'M.I.', class: 'col-sm-1 control-label' %>
      <div class="col-sm-1">
        <%= f.text_field :middle_initial, class: 'form-control' %>
      </div>
      <%= f.label :last_name, 'Last', :class => "col-sm-1 control-label" %>
      <div class="col-sm-3">
        <%= f.text_field :last_name, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :email, :class => "form-control" %>
      </div>
      <%= f.label :subscribe, 'Receive BH Emails', :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.check_box :subscribe, :class => "form-control" %>
        <p id="subscribe-info">Uncheck to opt out of Bridgehouse emails</p>
      </div>
    </div>
  </div>

  <div class="bs-callout bs-callout-info">
    <div class="form-group">
      <%= f.label :address_line_one, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :address_line_one, :class => "form-control" %>
      </div>
      <%= f.label :city, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :city, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address_line_two, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :address_line_two, :class => "form-control" %>
      </div>
      <%= f.label :state, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :state, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :phone_number, :class => "form-control" %>
      </div>
      <%= f.label :zip_code, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :zip_code, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="bs-callout bs-callout-info">
    <div class="form-group">
      <% unless params[:set_payment] %>
        <%= f.label :number_of_tickets, nil, class: 'col-sm-2 control-label' %>
        <div class="col-sm-1">
          <%= f.select :number_of_tickets, options_for_select((1..100).to_a), class: "form-control" %>
        </div>
      <% end %>

      <div class="col-sm-offset-0 col-sm-4">
        <%= f.submit 'Buy Tickets', :class => "btn btn-primary" %>
      </div>
      <div id="price">10</div>

    </div>
  </div>

<% end %>

