<div class="page-header">
  <%= link_to tickets_path(format: 'csv'), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-download-alt"></span>
    Download CSV
  <% end %>
  <%= link_to tickets_path(format: 'xls'), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-download-alt"></span>
    Download XLS
  <% end %>
  <h1>All Purchased Tickets</h1>

  <div class="btn btn-sm btn-default"><%= @tickets_sold %> Tickets sold</div>
  <div class="btn btn-sm btn-default"><%= @customers %> Customers</div>
</div>

<%= search_form_for @q, class: 'form-horizontal' do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <%= f.search_field :first_name_or_last_name_or_email_or_phone_number_or_location_or_payment_type_cont, class: 'form-control', placeholder: 'search by name, email phone or location' %>
    </div>
    <div class="col-sm-1">
      <%= f.submit 'Go', class: 'btn btn-success' %>
    </div>
    <div class="col-sm-2">
      <%= link_to 'Show All', tickets_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-sm-2">
      <%= link_to 'Orders', ticket_orders_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<br/>

<%= will_paginate @tickets, renderer: BootstrapPagination::Rails %>

<%= render partial: 'table', locals: {tickets: @tickets} %>
