<script type="text/javascript">

  function updatePriceLabel() {
    var price = document.getElementById('price');
    var numberOfTickets = document.getElementById('number_of_tickets').value;
    price.textContent = 'Total: $' + String(numberOfTickets*10 - Math.floor(numberOfTickets/12)*20);
  }

function buy12() {
  var numTickets = document.getElementById('number_of_tickets');
  numTickets.value = 12;
  updatePriceLabel();
    }

  function showHide() {
    var panel = document.getElementById('hide_panel');
    if (panel.style.visibility == 'hidden') {
      panel.style.visibility = 'visible';
    } else if (panel.style.visibility == 'visible') {
      panel.style.visibility = 'hidden';
    }
  }
</script>

<div class="page-header">
  <h1 align="center">Buy a Raffle Ticket</h1>
  <h5 align="center">$10 each</h5>
  <h5 align="center">12 for $100</h5>
</div>

<%= form_for(@ticket, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @ticket.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h4>

      <ul>
        <% @ticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="bs-callout bs-callout-info">
    <div class="form-group">

      <%= f.label :first_name, 'Name: First', :class => "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.text_field :first_name, :class => "form-control" %>
      </div>
      <%= f.label :middle_initial, 'M.I.', class: 'col-sm-1 control-label' %>
      <div class="col-sm-1">
        <%= f.text_field :middle_initial, class: 'form-control' %>
      </div>
      <%= f.label :last_name, 'Last', :class => "col-sm-1 control-label" %>
      <div class="col-sm-3">
        <%= f.text_field :last_name, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, :class => "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.text_field :email, :class => "form-control" %>
      </div>
      <%= f.label :subscribe, 'Receive BH Emails', :class => "col-sm-2 col-sm-offset-1 control-label" %>
      <div class="col-sm-4">
        <%= f.check_box :subscribe, :class => "form-control" %>
        <p id="subscribe-info">Uncheck to opt out of Bridgehouse emails</p>
      </div>
    </div>
  </div>

  <div class="bs-callout bs-callout-info">
    <div class="form-group">
      <%= f.label :address_line_one, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :address_line_one, :class => "form-control" %>
      </div>
      <%= f.label :city, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :city, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address_line_two, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :address_line_two, :class => "form-control" %>
      </div>
      <%= f.label :state, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :state, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :phone_number, :class => "form-control" %>
      </div>
      <%= f.label :zip_code, :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :zip_code, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="bs-callout bs-callout-info">
    <div class="col-sm-2 btn btn-default btn-lg" id="price" style="float: right">
      Total: $10
    </div>
    <div class="form-group">
      <%= f.label :number_of_tickets, nil, class: 'col-sm-2 control-label' %>
      <div class="col-sm-1" onchange="updatePriceLabel();">
        <%# f.select :number_of_tickets, options_for_select((1..100).to_a), class: 'form-control' %>
        <%= select_tag :number_of_tickets,  options_for_select((1..100).to_a), class: 'form-control' %>
      </div>

      <%= f.hidden_field :payment_type, value: 'Wepay' %>
      <div class="col-sm-offset-0 col-sm-2">
        <%= f.submit 'Buy Tickets', :class => "btn btn-success" %>
      </div>
      <div class="btn btn-info"onclick="buy12();">
        Get 12 Tickets for $100
      </div>
    </div>

  </div>

<% end %>

