<style>
  .bs-callout-ticket {
  background-color: #dff0d8;
  }
</style>

<div class="page-header">

  <h1>Thank You!</h1>
  <h4>You will receive an email at <%= @ticket.email %> to confirm your purchase shortly.</h4>
</div>


<div class="bs-callout bs-callout-success bs-callout-ticket col-xs-12 col-sm-8 col-md-6">

  <div class="btn btn-default">
    <% if @num == 1 %>
      <h4>Ticket # <%= @ticket.id %></h4>
      <i class="fa fa-ticket fa-3x"></i>
  <% else %>
      <h4>Ticket #s <%= @ticket.id %> - <%= @num + @ticket.id - 1 %></h4>
      <i class="fa fa-ticket fa-2x"></i>
      <i class="fa fa-ticket fa-2x"></i>
      <i class="fa fa-ticket fa-2x"></i>
  <% end %>
  </div>
  <br/><br/>


  <dl class="dl-horizontal">
    <dt>First name:</dt>
    <dd><%= @ticket.first_name %></dd>

    <dt>Last name:</dt>
    <dd><%= @ticket.last_name %></dd>

    <dt>Email:</dt>
    <dd><%= @ticket.email %></dd>

    <dt>Subscribe:</dt>
    <dd><%= @ticket.subscribe %></dd>

    <dt>Address line one:</dt>
    <dd><%= @ticket.address_line_one %></dd>

    <dt>Address line two:</dt>
    <dd><%= @ticket.address_line_two %></dd>

    <dt>City:</dt>
    <dd><%= @ticket.city %></dd>

    <dt>State:</dt>
    <dd><%= @ticket.state %></dd>

    <dt>Zip code:</dt>
    <dd><%= @ticket.zip_code %></dd>

    <dt>Phone Number:</dt>
    <dd><%= @ticket.phone_number %></dd>

    <dt>Number of Tickets:</dt>
    <dd><%= @ticket.number_of_tickets %></dd>

    <dt>Amount Paid:</dt>
    <dd><%= '$%0.2f' % [@ticket.amount_paid] %></dd>

  </dl>
</div>
<div align="center">
  <% if current_admin %>
    <%= link_to new_ticket_path, class: 'btn btn-success btn-lg' do %>
      <span class="glyphicon glyphicon-home"></span>
      Buy more tickets
    <% end %>
  <% else %>
    <%= link_to ticket_new_wepay_path, class: 'btn btn-success btn-lg' do %>
      <span class="glyphicon glyphicon-home"></span>
      Buy more tickets
    <% end %>
  <% end %>
</div>
