<div class="page-header">

  <h1>Thank You!</h1>
  <h4>You will receive an email at <%= params[:email] %> to confirm your purchase shortly.</h4>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @ticket.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @ticket.last_name %></dd>

  <dt>Email:</dt>
  <dd><%= @ticket.email %></dd>

  <dt>Subscribe:</dt>
  <dd><%= @ticket.subscribe %></dd>

  <dt>Address line one:</dt>
  <dd><%= @ticket.address_line_one %></dd>

  <dt>Address line two:</dt>
  <dd><%= @ticket.address_line_two %></dd>

  <dt>City:</dt>
  <dd><%= @ticket.city %></dd>

  <dt>State:</dt>
  <dd><%= @ticket.state %></dd>

  <dt>Zip code:</dt>
  <dd><%= @ticket.zip_code %></dd>


</dl>
<div align="center">
  <% if current_admin %>
    <%= link_to new_ticket_path, class: 'btn btn-success btn-lg' do %>
      <span class="glyphicon glyphicon-home"></span>
      Buy more tickets
    <% end %>
  <% else %>
    <%= link_to ticket_new_wepay_path, class: 'btn btn-success btn-lg' do %>
      <span class="glyphicon glyphicon-home"></span>
      Buy more tickets
    <% end %>
  <% end %>
</div>
