<% if current_admin && !current_admin.event %>
  <li><%= link_to 'All Tickets', tickets_path %></li>
  <li><%= link_to 'Logout', destroy_admin_session_path, method: 'delete' %></li>
  <li><a href="#">Logged in as <%= current_admin.email %></a></li>
  <li><%= link_to 'Start Event', new_event_path %></li>
  <li><%= link_to 'Set Payment Type', new_ticket_path %></li>
<% elsif current_admin && current_admin.event %>
  <li><%= link_to "End #{current_admin.event.name}", event_path(current_admin.event), method: 'delete', data: { confirm: 'Are you sure?' } %></li>
<% end %>
